.form {
  width: 700px;
  background-color: rgb(34, 102, 153);
  background-image: linear-gradient(white 2px, transparent 2px);
   
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  

}
